<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  

  <display-name>Project 2!</display-name>
  <description>
     currency converter and redirection with context attributes
  </description>



<servlet>
	<servlet-name>energeies converter </servlet-name>
	<servlet-class> proj1 </servlet-class>
</servlet>
<servlet>
	<servlet-name>energeies Post </servlet-name>
	<servlet-class> proj1Post </servlet-class>
</servlet>
<servlet>
	<servlet-name>energeies redirect </servlet-name>
	<servlet-class> servletRedirect </servlet-class>
</servlet>
<servlet>
	<servlet-name>energeies download </servlet-name>
	<servlet-class> jarSend </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>energeies download </servlet-name>
	<url-pattern> /download.do </url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>energeies Post </servlet-name>
	<url-pattern> /proj1Post.do </url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>energeies converter </servlet-name>
	<url-pattern> /form_action </url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>energeies redirect </servlet-name>
	<url-pattern> /proj2redirect.do </url-pattern>
</servlet-mapping>


<context-param>
	<param-name>urlInitParam</param-name>
	<param-value>http://kopapahatexwww.wordpress.com/2011/11/14/project-2-info/</param-value>
</context-param>


<listener>
	<listener-class>
		contextListener
	</listener-class>
</listener>






</web-app>
